<div class="site-header container">

  <a href="/"
     class="<%= path == '/' ? 'active' : '' %>">
    Question submission
  </a>

  <a href="/mission"
     class="<%= path == '/mission' ? 'active' : '' %>">
    Our mission
  </a>

</div>


<div class="site-progress-banner">
  <h1>100 question <%= @questions_count <= 100 ? 'limit' : 'goal' %></h1>

  <div class="progress-bar-container">
    <div class="progress-bar"
         style="width: <%= @questions_count %>%;"></div>
    <div class="progress-label"><%= @questions_count %> of 100</div>
  </div>
</div>
